<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebPoke</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

</head>
<body>
    <h1>Votre pokédex personnel</h1>

    <script>
        function redirectHome() {
            window.location.href = "/"
        }

        function redirectResearch(id) {
            window.location.href = "/pokemon/"+id
        }

    </script>


    <div class="pokedex">

    {% if data %}
        <div class="top-part">
                <div class="inner-pokedex">
        {% for id, name in data.items() %}

            <div class="sprite-pokedex" onclick="redirectResearch({{ id }})">
                <img class="pokeball" src="{{ url_for('static', filename='img/pokeball.png') }}" alt="pokeball">
                <img class="sprite" src="https://raw.githubusercontent.com/Yarkis01/PokeAPI/images/sprites/{{ id }}/regular.png" alt="{{ name }}">
            </div>
{% endfor %}
                </div>
        </div>
    {% endif %}
    </div>



</body>
</html>