<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebPoke</title>
</head>
<body>
    <h1>
        Bienvenue dans le Pokédex
    </h1>

    {% if form %}
    <form action="/pokedex" method="post">
        <fieldset>
            <legend> Entrer le nom du Pokémon </legend>
            <label for="nom">Nom du Pokémon :</label>
            <input type="text" id="nom" placeholder="Entrer un nom">
        </fieldset>
        <input type="submit" value="Valider" />
    </form>
    {% endif %}

</body>
</html>