<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>WebPoke</title>
    <link rel="stylesheet" href="staticFolder/CSS/style.css">
</head>
<body>

    <div class="divDex" >
        {% if form %}
        <form method="post" action="/">

            <div class="nameRecherch">
                <legend class="text"> Entrer le nom du Pokémon </legend>
                {{ form.csrf_token }}
                {{ form.nom.label }} :
                {{ form.nom() }}
                <input class="button" type="submit" value="Go">
            </div>
        </form>
        {% endif %}

        {% if pokedex_json %}
            <img src="{{ pokedex_json.sprites.regular}}" alt="">
            <p class="nom">
            {{pokedex_json.name.fr}}<br>
            </p>
            <p class="description">
                {{pokedex_json.name.fr}} est un Pokémon de catégory '{{pokedex_json.category}}' de la génération {{pokedex_json.generation}}.
            </p>
        {% endif %}
    </div>


</body>
</html>
