<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebPoke</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <h1>
        Pokédex
    </h1>

    {% if form %}
    <form method="post" action="/">
        <legend> Entrer le nom du Pokémon </legend>
        {{ form.csrf_token }}
        {{ form.nom.label }} : {{ form.nom() }}
        <input class="button is-success is-small" type="submit" value="Go">
    </form>
    {% endif %}

    {% if pokedex_json %}
        <p style="text-align: center; color: black">
            Nom : {{pokedex_json.name.fr}}<br>
        </p>
    {% endif %}

</body>
</html>
